<div>
  <h2>Title here</h2>
  <div class="field">
    <label for="firstname">
      Name
    </label>
    <input
        id="firstname"
        pInputText
        placeholder="Reda"
        type="text"
        class="w-full"
    >
  </div>
  <div class="field">
    <label for="email">
      Name
    </label>
    <input
        id="email"
        pInputText
        placeholder="kriatereda@gmail.com"
        type="email"
        class="w-full"
    >
  </div>
  <div class="field">
    <label for="age">
      Name
    </label>
    <input
        id="age"
        pInputText
        placeholder="22"
        type="number"
        class="w-full"
    >
  </div>
  <div class="field">
    <label for="password">
      Name
    </label>
    <input
        id="password"
        pInputText
        placeholder="Abab8@.*"
        type="text"
        class="w-full"
    >
  </div>
</div>
