<div>
  <h2>Title here</h2>
  <div class="field">
    <label for="firstname">
      Name
    </label>
    <input
        id="firstname"
        pInputText
        placeholder="Reda"
        type="text"
        class="w-full"
    >
  </div>
  <div class="field">
    <label for="email">
      Name
    </label>
    <input
        id="email"
        pInputText
        placeholder="kriatereda@gmail.com"
        type="email"
        class="w-full"
    >
  </div>
  <div class="field">
    <label for="age">
      Name
    </label>
    <input
        id="age"
        pInputText
        placeholder="22"
        type="number"
        class="w-full"
    >
  </div>
  <div class="field">
    <label for="password">
      Name
    </label>
    <input
        id="password"
        pInputText
        placeholder="Abab8@.*"
        type="password"
        class="w-full"
    >
  </div>
  <div class="field">
    <label for="gender">
      Name
    </label>
    <select
    id="gender"
    class="w-full custom-select ">
      <option>Select an option</option>
      <option>Male</option>
      <option>Female</option>
    </select>
  </div>
  <button
    pButton
    label="Submit"
    class="w-full "
  ></button>
  <button
    pButton
    label="Cancel"
    class="w-full p-button-outlined p-button-danger mt-2"
  ></button>
</div>
