img.cover{
  object-fit: cover;
  height: 120px;
  width: 316px;
}
img.profil{
  border: solid 1px #ffffff;
  width: 92px !important;
  height: 92px;
  border-radius: 50%;
  border: solid 1px #ffffff;
  margin-top: -50px;
}
