<p-card [style]="{ width: '316px'}" styleClass="text-center">
  <ng-template #header>
    <div>
      <img alt="Card"
           class="border-round-top cover"
           src="https://cdn.shopify.com/s/files/1/0548/7244/1000/files/88_ff6732ed-9003-4a2c-b0ba-575421f29b5b_1024x1024.jpg?v=1651190399" />
    </div>
    <div class="flex justify-content-center">
      <img alt="Card"
           class="profil"
           [src]="customerImage" />
    </div>
  </ng-template>

  <ng-template #content>
    <p-badge
    [value]="''+(customerIndex + 1)"
    >
    </p-badge>
    <h2>{{customerDTO.name}}</h2>
    <p class="text-gray-700">{{customerDTO.email}}</p>
    <p class="text-gray-700">{{ customerDTO.age }} | {{customerDTO.gender}}</p>
  </ng-template>
  <ng-template #footer>
    <button
    pButton
    label="Update"
    (click)="updateButton()"
  ></button>
    <button
      pButton
      label="Delete"
      class="p-button-outlined p-button-danger ml-2"
      (click)="deleteButton()"
      [outlined]="true"
    ></button>

  </ng-template>
</p-card>


